## MAC files ##
.DS_Store

## NPM ##
node_modules/

# Compiled Dirs (http://nodejs.org/api/addons.html)
public/bundle.js

# mysql config
config.js

# test coverage folder
relic.js
newrelic_agent.log

# csv file
*.csv

